<h1>Eliminar registro de cliente</h1>
<p>¿Esta seguro de eliminar el siguiente registro?</p>
<div class="row">
  <div class="col-md">
    <div class="form-group">
      <label class="control-label">Id</label>
      <label class="form-control">{{cliente.idCliente}}</label>
    </div>

    <div class="form-group">
      <label class="control-label">DNI</label>
      <label class="form-control">{{cliente.dniCliente}}</label>
    </div>

    <div class="form-group">
      <label class="control-label">Nombre</label>
      <label class="form-control">{{cliente.nombre}}</label>
    </div>

    <div class="form-group">
      <label class="control-label">Apellido</label>
      <label class="form-control">{{cliente.apellido}}</label>
    </div>
    <div>
      <button class="btn btn-danger" (click)="eliminar()">Eliminar</button>
      <a [routerLink]="['/clientes']" class="btn btn-secondary float-right">Regresar</a>
    </div>
  </div>
</div>


